@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 70px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-style: normal;
    background: url("../img/Rectangle 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.logo {
    width: 156px;
    height: 48px;
}

.divider {
    width: 3px;
    height: 28px;
    background: #fff;
    margin-left: 56px;
}

.date {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color: white;
    margin-left: 26px;
}

.header-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.fa-solid {
    font-size: 35px;
    color: #fff;
}

.profile-img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-left: 45px;
}

/* Content */
.content {
    width: 57%;
}

.genre {
    display: flex;
}

.genre h2 {
    margin-right: 20px;
    font-size: 33px;
    font-weight: 500;
    text-align: left;
    color: #fff;
}

.genre h2::after {
    content: '';
    padding-right: 20px;
    border-right: 3px solid #fff;
}

.genre h2:last-child {
    margin-right: 0;
}

.genre h2:last-child::after {
    content: '';
    border-right: 0;
}

h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 77.45px;
    color: #fff;
    margin-top: 27px;
}

.name {
    display: flex;
    margin-top: 17px;
}

.name h2 {
    margin-right: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36.31px;
    text-align: left;
    color: #ffffff;
    border-right: 3px solid white;
    padding-right: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 8px;
}

.name h2:last-child(1) {
    border-right: none;
    margin-right: 0;
}

.name h2 span {
    font-size: 29px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #a7a6a6;
}

p {
    padding-right: 150px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.97px;
    color: #A7A6A6;
}

.rating i {
    color: #fff;
    margin-right: 15px;
    font-size: 30px;
}

.rating i:nth-child(-n + 3) {
    color: #FFEA2B;
}

.rating i:last-child {
    margin-right: 0;
}

.buttons {
    margin-top: 53px;
}

button>* {
    vertical-align: middle;
}

.stream {
    width: 272px;
    height: 64px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 31.14px;
    color: #ffffff;
}

.stream {
    margin-right: 90px;
    border: none;
    background-color: #d50d1f;
}

.stream img {
    width: 28px;
    margin-left: 10px;
}

.stream:hover {
    color: #a7a6a6;
}

.episodes {
    width: 272px;
    height: 64px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 31.14px;
    color: #ffffff;
    border: 3px solid white;
    background: transparent;
}

.episodes:last-child {
    margin-right: 0;
}

.episodes:hover {
    border-color: #a7a6a6;
    color: #a7a6a6;
}

.content-1 {
    width: 57%;
    margin-top: 54px;
}

.popular {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 31.79px;
    letter-spacing: 4px;
    color: #fff;
}

.movies {
    width: 100%;
    display: flex;
    margin-top: 32px;
    margin-bottom: 49px;
}

.movies img {
    width: 100%;
    margin-right: 50px;
    border: 1px solid #ffffff;
}

.movies img:last-child {
    margin-right: 0;
}

.movies img:hover {
    border-color: #a7a6a6;
    filter: brightness(0.8);
}

.right,
.left {
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 1.5px solid #a7a6a6;
    border-radius: 50%;
}

.right i,
.left i {
    color: #a7a6a6;
    font-size: 18px;
}

.right:hover i,
.left:hover i {
    color: #fff;
}

.right:hover,
.left:hover {
    border: 2px solid #fff;
}

.right {
    margin-left: 20px;
}

.age-restriction {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    width: 174px;
    height: 66px;
    bottom: 103px;
    background-color: #a7a6a6;
    border-left: 33px solid #d40d1f;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .content {
        width: 70%; 
    }
    .genre h2 {
        font-size: 28px; 
    }
    h1 {
        font-size: 50px; 
    }
    .name h2 {
        font-size: 24px;
    }
    .description {
        font-size: 20px;
        padding-right: 100px; 
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px; 
    }
    .stream, .episodes {
        width: 100%; 
    }
    .content-1 {
        width: 80%;
    }
    .movies img {
        width: calc(100% / 3 - 20px); 
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .header {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .divider {
        display: none;
    }
    .date {
        font-size: 20px;
        margin-left: 0;
        margin-top: 5px;
    }
    .header-icons {
        margin-left: 0;
        margin-top: 10px;
    }
    .profile-img {
        width: 50px;
        height: 50px;
    }
    .content {
        width: 100%;
    }
    .genre {
        flex-direction: column; 
    }
    h1 {
        font-size: 40px; 
    }
    .info-container {
        display: flex;
        flex-direction: column;
    }

    .info-row-1 {
        order: 1;
    }

    .info-row-2 {
        order: 2;
        margin-top: 5px; 
    }

    .name {
        flex-direction: column;
        align-items: flex-start; 
    }
    .name h2 {
        font-size: 18px;
        border-right: none;
        padding-right: 0;
    }
    .description {
        font-size: 18px;
        padding-right: 0; 
        width: 100%;
    }
    .buttons {
        flex-direction: column;
    }
    .stream, .episodes {
        width: 100%;
    }
    .content-1 {
        width: 100%;
    }
    .movies {
        flex-wrap: wrap; 
        justify-content: center;
    }
    .movies img {
        width: calc(100% / 2 - 15px); 
        margin-bottom: 15px;
    }
    .age-restriction {
        width: 100px;
        height: 40px;
        font-size: 16px;
        bottom: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        margin-bottom: -25px; 
    }

    .genre,
    h1,
    .name,
    .description {
        display: none;
    }

    .rating {
        margin-top: 5px; 
        text-align: center; 
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
    }

    .stream, .episodes {
        width: 100%;
        height: 50px; 
        font-size: 18px;
    }

    .movies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movies img {
        width: 90%;
        height: auto; 
        max-width: 250px; 
        margin-bottom: 15px;
    }

    .movies img:last-child {
        margin-left: -20px;
    }

    .popular {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skroll {
        margin-top: 10px; 
        display: flex;
    }

    .rating i {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: -15px;
    }

    .age-restriction {
        width: 80px;
        height: 30px;
        font-size: 14px;
        bottom: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 120px; 
    }

    .profile-img {
        width: 40px;
        height: 40px;
    }

    .fa-solid {
        font-size: 24px;
    }
}

