* {
    box-sizing: border-box;
}
body {
    font-family: "IBM Plex Sans", serif;
    font-size: 16px;
    background-color: #F2F2F2;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
main {
    width: 1243px;
    margin: 0 auto;
    padding: 142px 0 128px;
}
h1>strong {
    color: #2D3640;
    font-weight: 600;
    letter-spacing: -0.5px;
}
h1 {
    color: #2D3640;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
}
.sub-title-text{
    color: #2B292D;
    width: 695px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}
.user-card{
    padding: 58px 0 122px;
    width: 295px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.user-photo{
    width: 114px;
    height: 114px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.user-photo{
    width: 114px;
    height: 114px;