*{
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
    font-family: "IBM Plex Sans", serif;
}
h1>strong{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
h1{
    font-size: 48px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-bottom: -10px;
    margin-left: 350px;
}
.title-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-right: 600px;
    margin-bottom: 50px;
    margin-left: 350px;
}
.card-container{
    padding-top: 142px;
    padding-bottom: 128px;
    margin: 200px auto;
    width: 1920px;
    height: auto;
    background-color: #00A1C60D;
}
.card-container .card1:first-child{
    margin-left: 0;
}
.card-container .card4:last-child{
    margin-right: 0;
}
.card1{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 350px;
    margin-right: 20px;
    font-family: "Catamaran", serif;
    display: inline-block;
}
.card2{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    font-family: "Catamaran", serif;
    display: inline-block;
}
.card3{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    font-family: "Catamaran", serif;
    display: inline-block;
}
.card4{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: "Catamaran", serif;
    display: inline-block;
}
.avatar{
    width: 120px;
    height: 120px;
    margin-top: 58px;
    margin-left: 87px;
    background-color: white;
    border-radius: 50%;
} img{
    width: 114px;
    height: 114px;
    border-radius: 100%;
}
h4{
    text-align: center;
    margin-bottom: -15px;
}
p{
    text-align: center;
    margin-bottom: 33px;
}
.icon1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: wheat;
    margin-left: 122px;
}
.icon1 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.icon2 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 57px;
    float: left;
}
.icon3 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
    float: left;
}
.icon4 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
}
.icon5 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 91px;
    float: left;
}
.icon6 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
}
.icon7 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 91px;
    float: left;
}
.icon8 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
}