* {
    text-decoration: underline;
}

/* h3{
    color: red;
    background-color: black;
} */
p {
    background-color: rgb(88, 88, 14);
}

h3,
h4 {
    color: rgb(199, 234, 29);
    background-color: black;
}

/* DRY */
h3,
h4 {
    color: #008fff;
}

p span {
    color: rgb(229, 240, 229);
}

span {
    color: blueviolet;
}

header nav a {
    background-color: yellow;
}

#bottom {
    background-color: purple;
    color: white;
}

.text-car {
    background-color: blue;
    color: yellow;
}

.text-car.big {
    font-size: 20px;
}

ul li:first-child {
    background-color: yellow;
}

ul li:last-child {
    background-color: rgb(214, 11, 130);
}

ul li:nth-child(3) {
    background-color: green;
}

/* Поганий варіант неймінгу
.green-button{
    background-color: rgb(226, 14, 163);
} */
 .button-order{
    background-color: red;
 }