*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #E5E5E5;
}
a{
    text-decoration: none;
    color: white;
    font-size: 210px;
}
.position-relative{
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
    width: 1500px;
    height: 1400px;
    position: relative;
    background-color: transparent;
}
.position-abs{
    width: 512px;
    height: 512px;
    padding: 10px 0;
    background-color: black;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}
.flag{
    width: 80px;
    height: 60px;
    margin-left: 216px;
    top: 343px;
    background-color: #FFCE22;
    border-radius: 6px;
    /* border: 1px solid blue; */
}
.flag1{
    width: 80px;
    height: 30px;
    margin-left: 216px;
    top: 343px;
    background-color: #2137FC;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.position-abs.square{
    z-index: 2;
    background-color: #FFCE22;
    top: 430px;
    left: 480px;
}
.blue{
    background-color: #2137FC;
    width: 512px;
    height: 256px;
    top: 0;
    left: 0;
}
.position-abs.img{
    width: 397px;
    height: 216px;
    top: 147px;
    background-color: transparent;
}
.position-abs.circle{
    z-index: 1;
    background-color: #ffffff;
    top: 815px;
    left: 915px;
    border-top: 2px solid #2137FC;
    border-bottom: 2px solid #2137FC;
    box-shadow: 0 4px 6px -3px black;
}
.yelou{
    width: 444px;
    height: 444px;
    background-color: #FFCE22;
    left: 34px;
    top: 34px;
    border-radius: 50%;
}
.position-abs.img2{
    width: 358px;
    height: 205px;
    top: 250px;
    left: 76px;
    background-color: transparent;
}
.yeloublue {
    width: 444px;
    height: 222px;
    background-color: #2137FC;
    left: 34px;
    top: 34px;
    border-top-right-radius: 225px;
    border-top-left-radius: 225px;
}