    * {
        box-sizing: border-box;
    }

    body {
        background-color: darkgrey;
    }

    .container-block {
        width: 360px;
        margin: 100px auto;
        border-radius: 20px;
        background-color: #fff;
        padding: 56px 20px 91px 20px;
    }

    button {
        border: none;
        background-color: #fff;
    }

    input {
        width: 316px;
        height: 44px;
        border: none;
        border-radius: 12px;
        background-color: #EFEFEF;
        margin-bottom: 29px;
        padding: 15px;
    }

    .category-menu {
        padding: 0 4px;
    }

    .menu-position {
        display: inline-block;
        margin-right: 24px;
        text-align: center;
    }

    .position-title {
        color: #C4C4C4;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .menu-position:hover .position-img {
        background-color: #f5e482;
    }

    .menu-position:hover .position-title {
        color: #000000;
    }

    .position-img {
        width: 74px;
        height: 74px;
        border-radius: 12px;
        background-color: #EFEFEF;
    }

    .position-img img {
        margin: 18px 18px;
    }

    .menu-burger {
        padding: 0 4px;
    }

    .burger-position {
        width: 316px;
        height: 88px;
        padding: 10px 4px;
        border-radius: 10px;
        background-color: #EFEFEF;
        margin-bottom: 8px;
        display: inline-block;
    }

    .burger-img {
        width: 60px;
        height: 60px;
        text-align: left;
        margin-left: 16px;
        display: inline-block;
    }

    .burger-img img {
        width: 60px;
    }

    .burger-category {
        display: inline-block;
        vertical-align: top;
        padding: 12px;
        margin-bottom: 8px;
    }
    .burger-category h4, .burger-category h5 {
        margin: 8px;
    }

    .menu-burger .burger-position:last-child {
        margin-bottom: 0;
    }

    .burger-position:hover {
        background-color: #f5e482;
    }

    .burger-position:hover .burger-category {
        color: #f50909;
    }