    * {
        box-sizing: border-box;
    }

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    body {
        background-color: darkgrey;
    }

    .container-block {
        width: 360px;
        margin: 100px auto;
        border-radius: 20px;
        background-color: #fff;
        text-align: left;
        padding: 56px 20px 91px 20px;
        font-family: "Inter", serif;
        font-weight: 600;
        line-height: 39px;
        font-size: 32px;

    }

    button {
        border: none;
        background-color: #fff;
    }

    input {
        width: 316px;
        height: 44px;
        border: none;
        border-radius: 12px;
        background-color: #EFEFEF;
        margin-bottom: 29px;
        padding: 15px;
        text-align: left;
        font-family: "Inter", serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .category-menu {
        padding: 0 4px;
        font-size: 16px;
        font-family: "Inter", serif;
        font-weight: 500;
        line-height: 19px;
    }

    .menu-position {
        display: inline-block;
        margin-right: 24px;
        text-align: center;
    }

    .position-title {
        color: #C4C4C4;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .menu-position:hover .position-img {
        background-color: #f5e482;
    }

    .menu-position:hover .position-title {
        color: #000000;
    }

    .position-img {
        width: 74px;
        height: 74px;
        border-radius: 12px;
        background-color: #EFEFEF;
    }

    .position-img img {
        margin: 18px 18px;
    }

    .menu-burger {
        padding: 0 4px;
        font-size: 20px;
        font-family: "Inter", serif;
        font-weight: 500;
        line-height: 24px;
    }
    .menu-burger h3{
        margin-top: 31px;
        margin-bottom: 26px;
    }
    .burger-position {
        width: 316px;
        height: 88px;
        padding: 10px 4px;
        border-radius: 10px;
        background-color: #EFEFEF;
        margin-bottom: 12px;
    }

    .burger-img {
        width: 60px;
        height: 60px;
        text-align: left;
        margin-left: 16px;
        display: inline-block;
    }

    .burger-img img {
        width: 60px;
    }

    .burger-category {
        display: inline-block;
        vertical-align: top;
        margin-left: 12px;
    }
    .burger-category h4, .burger-category h5 {
        margin: 8px;
    }
    .burger-category h4{
        font-size: 14px;
        font-family: "Inter", serif;
        font-weight: 500;
        line-height: 17px;
    }
    .burger-category h5{
        font-family: "Inter", serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: red;
    }

    .menu-burger .burger-position:last-child {
        margin-bottom: 0;
    }

    .burger-position:hover {
        background-color: #f5e482;
    }

    .burger-position:hover .burger-category {
        color: red;
    }