*{
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
.bg-image{
    background-color: yellow;
    width: 1500px;
    min-height: 500px;
    background-image: url("../img/avatarka.png");
    /* background-image: url("../img/avatarka.png"), url("../img/avha24mi2.webp"); */

    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position: top 200px left 500px; */
    /* background-position: top right; */
    /* background-position: bottom right; */
    background-position: center center;

    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 500px 500px;
}
.bg-image:hover{
    background-color: blue;
}
p{
    width: 100px;
    margin: 0 auto;
}
input{
    background-color: black;
    color: white;
    padding: 20px;
    background-image: url(../img/Vector.svg);
    background-size: 16px 16px;background-position: center right 10px;
    background-repeat: no-repeat;

}
