*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #E5E5E5;
}
a{
    text-decoration: none;
    color: white;
    font-size: 210px;
}
.position-relative-Flag{
    width: 512px;
    height: 512px;
    margin: 200px auto;
    position: relative;
    background-color: black;
}
.position-abs{
    /* padding: 0; */
    text-align: center;
    background-color: rgb(245, 202, 137);
    position: absolute;
    width: 310px;
    height: 182px;
    top: 128px;
    left: 101px;
}
/* .position-abs.square{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    border: 2px solid red;
}
.position-relative.circle{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    border: 2px solid red;
} */