*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #E5E5E5;
}
a{
    text-decoration: none;
    color: white;
    font-size: 210px;
}
.position-relative{
    width: 512px;
    height: 512px;
    margin: 50px auto;
    position: relative;
    background-color: black;
}
.position-abs{
    padding: 0;
    text-align: center;
    background-color: black;
    position: absolute;
    /* width: 309.72px;
    height: 181.88px; */
    /* top: 128px; */
    left: 101px;
    bottom: 201px;
    /* border: 2px solid red; */
}
.position-abs.flag{
    position: absolute;
    width: 80px;
    height: 60px;
    left: 216px;
    top: 343px;
    background-color: #FFCE22;
}
.position-abs.flag1{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 216px;
    top: 343px;
    background-color: #2137FC;
}
/* .position-abs.square{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    border: 2px solid red;
}
.position-relative.circle{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    border: 2px solid red;
} */